{% extends 'base.html.twig' %}

{# {% block title %}Liste des recettes{% endblock %} #}
{% block title "Home" %}


{% block body %}
<h3>Mon BG de site de Recettes incroyables mais vraies</h3>
<img src="https://i.pinimg.com/originals/29/76/43/297643bf7c6392fa57e96421072c282d.jpg" class="img-fluid" alt="...">
{% endblock %}
