{% extends 'base.html.twig' %}

{# {% block title %}Liste des recettes{% endblock %} #}

{% block title %}{{slug}}{% endblock %}

{% block body %}

<h3>Bienvenu sur la recette numéro {{id}}<h3>
<p> Comment faire 1 {{slug}}</p>
{% endblock %}